---
id: {{ id }}
type: glossary_term
title: {{ title | tojson }}
status: {{ status }}
section: {{ section }}
order: {{ order }}
term: {{ title | tojson }}
definition: ""
---

Describe this glossary term.
