---
schema_version: {{ schema_version | default(4, true) }}
id: {{ id }}
kind: {{ kind }}
type: glossary_term
title: {{ title | tojson }}
status: {{ status }}
section: {{ section }}
order: {{ order }}
version: {{ version | default(1, true) }}
term: {{ term | tojson }}
definition: ""
body_format: asciidoc
---

Describe this glossary term.
